.App,
.form {
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(17, 121, 173);
  margin: 40px 100px;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.city {
  font-size: 40px;
}

.list {
  list-style: none;
}
.title {
  font-family: monospace;
  font-size: 80px;
}
